six==1.10.0
cffi==1.10.0
pyparsing==2.2.0
appdirs==1.4.3
selenium==2.53.0
PyMySQL==0.6.2
setuptools==65.5.1

robotframework==2.8.6
robotframework-selenium2library==1.8.0
robotframework-pabot==0.14
robotframework-csvlibrary==0.0.2

