pytz==2019.3

robotframework==3.1.2
robotframework-seleniumlibrary==4.1.0
robotframework-pabot==0.96
robotframework-faker==4.3.0
robotframework-requests==0.6.2
robotframework-imaplibrary2==0.3.4
robotframework-metrics==3.1.2


